/MovieMatch/obj/Debug/net8.0/staticwebassets/msbuild.MovieMatch.Microsoft.AspNetCore.StaticWebAssets.props
/MovieMatch/obj/MovieMatch.csproj.nuget.dgspec.json
/MovieMatch/obj/MovieMatch.csproj.nuget.g.props
/MovieMatch/obj/MovieMatch.csproj.nuget.g.targets
/MovieMatch/obj/project.assets.json
/MovieMatch/obj/project.nuget.cache
/MovieMatch/Properties/launchSettings.json
/MovieMatch/wwwroot/bootstrap/bootstrap.min.css
/MovieMatch/wwwroot/bootstrap/bootstrap.min.css.map
/MovieMatch/wwwroot/favicon.png
/.vs/MovieMatch/config/applicationhost.config
/.vs/MovieMatch/DesignTimeBuild/.dtbcache.v2
/.vs/MovieMatch/FileContentIndex/db08ea77-04ab-445c-bb16-2daf513f3925.vsidx
/.vs/MovieMatch/v17/.futdcache.v2
/.vs/MovieMatch/v17/.suo
/.vs/MovieMatch/v17/DocumentLayout.backup.json
/.vs/MovieMatch/v17/DocumentLayout.json
/.vs/ProjectEvaluation/moviematch.metadata.v9.bin
/.vs/ProjectEvaluation/moviematch.projects.v9.bin
/.vs/ProjectEvaluation/moviematch.strings.v9.bin
/MovieMatch/appsettings.Development.json
/MovieMatch/appsettings.json
/MovieMatch/bin/Debug/net8.0/appsettings.Development.json
/MovieMatch/bin/Debug/net8.0/appsettings.json
/MovieMatch/bin/Debug/net8.0/MovieMatch.deps.json
/MovieMatch/bin/Debug/net8.0/MovieMatch.dll
/MovieMatch/bin/Debug/net8.0/MovieMatch.exe
/MovieMatch/bin/Debug/net8.0/MovieMatch.pdb
/MovieMatch/bin/Debug/net8.0/MovieMatch.runtimeconfig.json
/MovieMatch/bin/Debug/net8.0/MovieMatch.staticwebassets.endpoints.json
/MovieMatch/bin/Debug/net8.0/MovieMatch.staticwebassets.runtime.json
/MovieMatch/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/MovieMatch/obj/Debug/net8.0/ApiEndpoints.json
/MovieMatch/obj/Debug/net8.0/apphost.exe
/MovieMatch/obj/Debug/net8.0/MovieMatch.AssemblyInfo.cs
/MovieMatch/obj/Debug/net8.0/MovieMatch.AssemblyInfoInputs.cache
/MovieMatch/obj/Debug/net8.0/MovieMatch.assets.cache
/MovieMatch/obj/Debug/net8.0/MovieMatch.csproj.BuildWithSkipAnalyzers
/MovieMatch/obj/Debug/net8.0/MovieMatch.csproj.CoreCompileInputs.cache
/MovieMatch/obj/Debug/net8.0/MovieMatch.csproj.FileListAbsolute.txt
/MovieMatch/obj/Debug/net8.0/MovieMatch.dll
/MovieMatch/obj/Debug/net8.0/MovieMatch.GeneratedMSBuildEditorConfig.editorconfig
/MovieMatch/obj/Debug/net8.0/MovieMatch.genruntimeconfig.cache
/MovieMatch/obj/Debug/net8.0/MovieMatch.GlobalUsings.g.cs
/MovieMatch/obj/Debug/net8.0/MovieMatch.MvcApplicationPartsAssemblyInfo.cache
/MovieMatch/obj/Debug/net8.0/MovieMatch.pdb
/MovieMatch/obj/Debug/net8.0/MovieMatch.sourcelink.json
/MovieMatch/obj/Debug/net8.0/ref/MovieMatch.dll
/MovieMatch/obj/Debug/net8.0/refint/MovieMatch.dll
/MovieMatch/obj/Debug/net8.0/scopedcss/bundle/MovieMatch.styles.css
/MovieMatch/obj/Debug/net8.0/scopedcss/Components/Layout/MainLayout.razor.rz.scp.css
/MovieMatch/obj/Debug/net8.0/scopedcss/Components/Layout/NavMenu.razor.rz.scp.css
/MovieMatch/obj/Debug/net8.0/scopedcss/projectbundle/MovieMatch.bundle.scp.css
/MovieMatch/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/MovieMatch/obj/Debug/net8.0/staticwebassets.build.json
/MovieMatch/obj/Debug/net8.0/staticwebassets.development.json
/MovieMatch/obj/Debug/net8.0/staticwebassets.pack.json
/MovieMatch/obj/Debug/net8.0/staticwebassets.references.upToDateCheck.txt
/MovieMatch/obj/Debug/net8.0/staticwebassets.removed.txt
/MovieMatch/obj/Debug/net8.0/staticwebassets.upToDateCheck.txt
/MovieMatch/obj/Debug/net8.0/staticwebassets/msbuild.build.MovieMatch.props
/MovieMatch/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.MovieMatch.props
/MovieMatch/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.MovieMatch.props
/MovieMatch/obj/Debug/net8.0/staticwebassets/msbuild.MovieMatch.Microsoft.AspNetCore.StaticWebAssetEndpoints.props
/.vs/MovieMatch/FileContentIndex/60ad7cc1-4b2d-4db5-be28-d16f5aca7043.vsidx
/.vs/MovieMatch/FileContentIndex/e2a1ff1a-2254-4837-ab83-1a213f007e47.vsidx
/.vs/MovieMatch/FileContentIndex/ad1887c9-41fb-4e27-848c-19a897f86e44.vsidx
/MovieMatch/bin/Debug/net8.0/BlazorBootstrap.dll
/MovieMatch/bin/Debug/net8.0/Microsoft.AspNetCore.Authorization.dll
/MovieMatch/bin/Debug/net8.0/Microsoft.AspNetCore.Components.dll
/MovieMatch/bin/Debug/net8.0/Microsoft.AspNetCore.Components.Forms.dll
/MovieMatch/bin/Debug/net8.0/Microsoft.AspNetCore.Components.Web.dll
/MovieMatch/bin/Debug/net8.0/Microsoft.AspNetCore.Metadata.dll
/MovieMatch/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/MovieMatch/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
/MovieMatch/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
/MovieMatch/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
/MovieMatch/bin/Debug/net8.0/Microsoft.JSInterop.dll
/MovieMatch/obj/Debug/net8.0/MovieMatch.csproj.AssemblyReference.cache
/MovieMatch/obj/Debug/net8.0/MovieMatch.csproj.Up2Date
/.vs/MovieMatch/FileContentIndex/0d573be3-4f8b-4ee0-8dd1-22f2bcfd3553.vsidx
/.vs/MovieMatch/FileContentIndex/9b98112e-5f39-43de-856a-8adc83e3adbf.vsidx
/.vs/MovieMatch/FileContentIndex/0f549942-75f9-4007-ba53-88a6314f2bf2.vsidx
/.vs/MovieMatch/FileContentIndex/b957d1fb-e069-4381-88c3-ae8db8d08334.vsidx
